@import "../settings/mixins.scss";

body {
    @include margin(0, auto, 0, auto);
    background-color: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
td {
    @include font-normal();
    @include margin(0, 0, 0, 0);
    @include padding(0, 0, 0, 0);
    @include text-size-adjust(none);
}
img {
    @include margin(0, auto, 0, auto);
    @include padding(0, 0, 0, 0);
    //display: block;
    //width: 100%;mr10
    outline: none;
    border: 0;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
}

.wrapper-head{
    background-color: #f2f2f2;
    background-image: url(../bg.jpg) ;
    background-position: center top;
    background-repeat:no-repeat;
}
.table-email {
    max-width: 620px;
    background: none;
    @include margin(0, auto, 0, auto);
}
.table-header {
    width: 100%;
}
.table-header-zero {
    width:100%;
    td{
        height: 25px;
        background-color: transparent;
    }
}
    .header-space{
        width:240px;
    }
    .header-text{
        font-size:13px;
        color: #333;
        font-family: Arial;
        line-height:15px;
        a{
            text-decoration: none;
            color: #07809a;
            font-weight: bold;
        }
        p{
            padding:0;
            margin:0;
            line-height:1.2;
            padding-bottom:11px;
        }
        big{
            font-size:16px;
            font-weight: bold;
        }
    }
a{
    text-decoration: none;
    color: #07809a;
    font-weight: bold;
}
.td-header {
    padding:0 ;
    &.left{
        width: 50%;
        text-align: right;
        color: #ffffff;
        font-family: Philosopher;
        font-size: 43px;
        font-weight: 400;
        text-transform: uppercase;
        @include padding(0px, 8px, 0px, 0px);
        line-height: 1;
    }
    &.right{
        width: 50%;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 300;
        line-height: 17px;
        text-align: left;
        @include padding(0px, 0px, 0px, 8px);

        border-left:1px solid #575477;
    }
}
.header-title{
    width:100%;
    td{

        @include padding(26px, 26px, 26px, 26px);

        font-family: Arial;

        text-align: center;
        div{
            font-size: 39px;
            font-weight: 900;
            text-transform: uppercase;
            color: #25aae1;
        }
        small{
            color: #25aae1;
            font-size:15px;
            letter-spacing: 1px;
        }
        strong{
            text-transform: uppercase;
            font-size:20px;
            font-weight: normal;
            color: #25aae1;
        }
    }
}

.center-text{
    color: #333333;
    font-size:12px;
    font-family: Arial;
}

.tags{
    text-align: center;
}
.tag-text{
    color: #333333;
    font-size:12px;
    font-family:Arial;
    @include margin(10px, 0%, 0%, 0%);
}

.wrapper-footer{
    background-color: #262626;
}
    .foot center{
        color: #fff;
        font-size:10px;
        font-family: Arial;
    }





.personal-info{
    text-align: center;
    td{
        text-align: center;
        font-size:16px;
        color: #25aae1;
        width:50%;
    }
}
.info{
    td{
        color: #000000;
        font-size:13px;
        a{
            color: #55b2dd;
            text-decoration: none;
        }
    }
}
.product{
    background: #78d4fa;
    color: #fff;
    td{
        width:50%;
        text-align: center;
        div{
            color: #fff;
            padding-bottom:12px;
            a{
                color: #fff;
                font-size:15px;
                &.red{
                    color: #ff1313;
                }
            }
            strong{
                font-size:20px;
                font-weight: bold;
                text-decoration: underline;
                small{
                    font-size:15px;
                    font-weight: normal;
                }
            }
        }
    }
}
.line{
    td{border-top:3px solid #25aae1;}
}
.header-order{
    width: 100%;
    td{
        @include padding(16px, 16px, 16px, 16px);
        background-color: #fcc833;
        text-align: center;

        color: #000000;
        font-family: "Open Sans";
        font-size: 27px;
        font-weight: 300;
        span{
            font-weight: 600;
        }

    }
}
.content-order{
    width: 100%;
    @include margin(2%, 0%, 2%, 0%);
    .left{
        width: 48%;
        margin-right:2%;
       // padding: 2% 1% 5% 3%;
        height: 100%;
        vertical-align: top;
    }
    .right{
        width: 50%;
       // padding: 2% 3% 5% 1%;
        height: 100%;
        vertical-align: top;
    }
    .first_level{
        @include margin(0, 3%, 0, 3%);
        width: 94%;
    }
    .main-bg{
        background: #ededed;
        color: #000000;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        vertical-align: top;
        @include padding(2px, 2px, 2px, 2px);
        table{
            width: 100%;
            td{
                vertical-align: top;
                border-bottom: 1px solid #bdbdbd;
                line-height:1.1;
                @include padding(10px, 10px, 10px, 10px);
            }
        }
        .grey{
            color: #808080;
        }
        .pl{
            padding-left: 11px;
        }
        p{
            padding-bottom: 0px;
            margin-bottom: 8px;
            margin-top: 0;
        }
        span{
            font-size: 13px;
            display: block;
            @include margin(0px, 0px, 2px, 0px);
        }
        .left-col{
            border-right: 1px solid #bdbdbd;
            width: 50%;
            color: #2e2a56;
        }
        .right-col{
            width: 50%;
            color: #2e2a56;
        }
    }

}
.tariff-order{
    width: 100%;
    //table{
    //    width: 100%;
    //}
    .main-wrap{
        width: 100%;
        @include padding(0, 2%, 5%, 2%);
    }
    .head{
        &.left{
            @include padding(3%, 5%, 3%, 5%);
            background: #4d4a73;
        }
        &.right{
            @include padding(3%, 5%, 3%, 5%);
            background: #c8c7d4;

            font-size: 16px;
            font-weight: 600;
            text-align: center;
            color: #000000;
        }
    }
    .left{
        width: 48%;
        background: #37335d;
        @include padding(1%, 5%, 1%, 5%);

        color: #ffffff;
        font-size: 16px;
        font-weight: 400;

    }
    .right{
        width: 50%;
        @include padding(1%, 5%, 1%, 5%);
        background: #ededed;

        text-align: center;
        color: #000000;
        font-size: 22px;
        font-weight: 600;
        span {
            font-size: 16px;
            font-weight: 400;
        }
    }
}

.table-medium {
    background-color: $accent-color-2;
}
.td-medium-text {
    @include padding(15px, 10px, 15px, 10px);
}
.table-columns {
    background-color: $accent-color-3;
    width: 100%;
}
.td-columns {
    @include padding(10px, 5px, 10px, 5px);
}
.table-col {
    width: 50%;
}
.td-col {
    @include padding(5px, 10px, 5px, 10px);
    width: $width / 2;
    text-align: center;
}
.col-img {
    max-width: 270px;
    max-height: 180px;
}
.link-col-action {
    @include font-normal();
    @include margin(0, 0, 0, 0);
    @include padding(5px, 15px, 5px, 15px);
    @include text-size-adjust(none);
    background-color: $action-color;
    color: $light-color;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}



.footer_wrap{
    background: #0499d0;
    .table-email{
        background: none;
    }
    .footer{
        padding-top:30px;
        padding-bottom:30px;
        color: #fff;
    }
    td{
        color: #fff;
    }
}
    .social{
        a{
            padding-left:5px;
            padding-right:5px;
        }
    }
    .foot-text{
        padding-top:17px;
        color: #fff;
        font-size:13px;
        a{
            color: #fff;
        }
    }